node_modules
.next
.env.local

.env
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode

# Uploaded menu item images
/public/uploads/menu/*
# Keep the directory but not the files
!/public/uploads/menu/.gitkeep
